body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
    padding: 1em;
}

.resultado {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.botones {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(0, 1fr);
    justify-items: center;
    align-items: center;
}

.boton_1 {
    grid-area: 1/1/2/2;
    width: 5em;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    border-radius: .8em;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.30);
    transition: 0.15s ease all;
    margin-left: 80%;
}

.boton_1:hover {
    background-color: rgb(95, 94, 94);
    color: rgb(255, 255, 255);
}

.boton_2 {
    grid-area: 1/2/2/3;
    width: 5em;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    border-radius: .8em;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.30);
    transition: 0.15s ease all;
}

.boton_2:hover {
    background-color: rgb(95, 94, 94);
    color: rgb(255, 255, 255);
}

.boton_3 {
    grid-area: 1/3/2/4;
    width: 5em;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    border-radius: .8em;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.30);
    transition: 0.15s ease all;
    margin-right: 80%;
}

.boton_3:hover {
    background-color: rgb(95, 94, 94);
    color: rgb(255, 255, 255);
}

/* Ventanas Modales */

.firstModalWindow {
    background-color: rgba(0, 0, 0, 0.30);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    padding-top: 7em;
}

.secondModalWindow {
    background-color: rgba(0, 0, 0, 0.30);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    padding-top: 7em;
}

.thirdModalWindow {
    background-color: rgba(0, 0, 0, 0.30);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    padding-top: 7em;
}

.modalWindowWin {
    background-color: rgb(255, 255, 255, 1.00);
    border: none;
    border-radius: 1em;
    width: 40em;
    height: 20em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.40);
}

.modalWindowWin>button {
    border: none;
    border-radius: 1em;
    background-color: rgb(30, 45, 190);
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
    transition: 0.3s ease all;
}

.modalWindowWin>button:hover {
    background-color: rgb(22, 31, 119);
}

.modalWindowWin>h3 {
    font-size: 3.5em;
}

.modalWindowLose {
    background-color: rgb(255, 255, 255, 1.00);
    border: none;
    border-radius: 1em;
    width: 40em;
    height: 20em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.40);
}

.modalWindowLose>button {
    border: none;
    border-radius: 1em;
    background-color: rgb(30, 45, 190);
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
    transition: 0.3s ease all;
}

.modalWindowLose>button:hover {
    background-color: rgb(22, 31, 119);
}

.modalWindowLose>h3 {
    font-size: 3.5em;
}

.modalWindowTie {
    background-color: rgb(255, 255, 255, 1.00);
    border: none;
    border-radius: 1em;
    width: 40em;
    height: 20em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.40);
}

.modalWindowTie>button {
    border: none;
    border-radius: 1em;
    background-color: rgb(30, 45, 190);
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
    transition: 0.3s ease all;
}

.modalWindowTie>button:hover {
    background-color: rgb(22, 31, 119);
}

.modalWindowTie>h3 {
    font-size: 3.5em;
}

/* ------------------- Contador ------------------ */

.contador {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    visibility: hidden;
}

#nrContador {
    font-size: 12em;
}

/* ------------------- Marcador ------------------ */

.contMarcador {
    margin-top: 5%;
    display: grid;
    grid-template-rows: 5% 95%;
    align-items: center;
    justify-items: center;
}

.contMarcador>p {
    font-size: 3.65em;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: .15em rgba(0, 0, 0, 0.85) solid;
    border-radius: .8em;
    padding: 0em 0.7em 0.15em 0.7em;
}

.contMarcador>button {
    width: 5em;
    height: 2em;
    font-size: 1.15em;
    border: none;
    border-radius: .8em;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.30);
    transition: 0.15s ease all;
}
.contMarcador>button:hover {
    background-color: rgb(238, 34, 34);
    color: rgb(255, 255, 255);
}